* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
}
*::selection {
  background-color: #fbdc4d;
}
a,
a:hover {
  text-decoration: none;
  transition: 0.5s;
}
a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.none {
  display: none;
}
.title-2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
}
.title-3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
.title-4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.underline {
  position: relative;
  z-index: 2;
}
.underline::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 12px;
  background-color: #fbdc4d;
  bottom: 15px;
  left: -5px;
  right: -5px;
}
.button-link {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  padding: 0 40px;
  border-radius: 30px;
}
.button-link_yellow {
  line-height: 64px;
  background-color: #fbdc4d;
}
.button-link_yellow:hover {
  background-color: #ffd200;
}
.button-link_yellow:active {
  background-color: #e1bc10;
}
.button-link_white {
  line-height: 56px;
  color: #464646;
  border: 4px solid #464646;
}
.button-link_white:hover {
  color: #797979;
  border: 4px solid #797979;
}
.button-link_white:active {
  color: #181818;
  border: 4px solid #181818;
}
.button-link_wrapper {
  display: flex;
}
.header-nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 152px;
}
@media (min-width: 1200px) {
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1440px) {
  .header-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
.nav_logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  transition: 1.5s;
}
.nav_logo:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}
.nav_logo::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 10px;
  background-color: #fbdc4d;
  bottom: 5px;
  left: -5px;
  right: -5px;
}
.nav_list {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.nav_list li {
  margin-right: 75px;
}
.nav_list li:last-child {
  margin-right: 0;
}
.nav_list-link {
  position: relative;
  z-index: 2;
}
.nav_list-link:focus {
  outline-offset: -3px;
  outline: 3px dotted #ea736d;
  transition: unset;
}
.nav_list-link::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 6px;
  width: 0;
  background-color: #fbdc4d;
  bottom: 3px;
  left: -5px;
  transition: 0.5s;
}
.nav_list-link:hover::after,
.nav_list-link:active::after,
.nav_list-link_active::after {
  width: 110%;
}
.nav_icons {
  display: flex;
  font-size: 30px;
}
.nav_icons-item {
  margin-right: 20px;
}
.nav_icons-item:last-child {
  margin-right: 0;
}
.nav_icons-link_linkedin:hover,
.nav_icons-link_linkedin:active {
  color: #0077b5;
}
.nav_icons-link_github:hover,
.nav_icons-link_github:active {
  color: #6cc644;
}
.nav_icons-link_vk:hover,
.nav_icons-link_vk:active {
  color: #45668e;
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 238px;
  background-image: url("../img/header/line.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center;
  overflow-x: hidden;
}
.header-info {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-desc {
  width: 50%;
}
.info-photo {
  position: relative;
  z-index: 2;
  width: 50%;
  max-width: 460px;
}
.info-desc_title {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
}
.info-desc_fi {
  position: relative;
  z-index: 2;
}
.info-desc_fi::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 12px;
  background-color: #fbdc4d;
  bottom: 23px;
  left: -5px;
  right: -5px;
}
.info-desc_text {
  margin-bottom: 35px;
}
.info-desc_text_p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #393f47;
  text-shadow: 0px 3px 42.32px #ffffff;
  margin-bottom: 10px;
}
.info-desc_text_p:last-child {
  margin-bottom: 0;
}
.info-desc_intro {
  margin-right: 25px;
}
.info-photo::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  left: 30%;
  top: 30%;
  background-image: linear-gradient(180deg, rgba(244, 248, 249, 0), #f4f8f9);
  opacity: 0.5;
}
.header-image {
  margin-top: -130px;
}
.header-info-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-top: -82px;
}
.info-can {
  width: 50%;
}
.info-contacts {
  width: 50%;
  max-width: 360px;
}
.info-can_title {
  margin-bottom: 37px;
}
.info-can_list {
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
  white-space: nowrap;
  margin-bottom: 43px;
}
.info-can_list-item {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  margin-bottom: 10px;
}
.info-can_list-item:last-child {
  margin-bottom: 0;
}
.info-can_list-item::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 24px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #000;
}
.info-contacts_title {
  margin-bottom: 26px;
}
.info-contacts_list {
  display: flex;
  font-size: 50px;
  margin-bottom: 16px;
}
.info-contacts_list-item {
  margin-right: 32px;
}
.info-contacts_list-item:last-child {
  margin-right: 0;
}
.info-contacts_list-item a:hover {
  opacity: 0.6;
}
.fa-stack {
  font-size: 0.5em;
  width: 2em;
  vertical-align: -15%;
}
.color-github {
  color: #212121;
}
.color-telegram {
  color: #039be5;
}
.color-vk {
  color: #4d76a1;
}
.color-facebook {
  color: #3b5998;
}
.info-contacts_email {
  font-size: 24px;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  text-shadow: 0px 3px 42.32px #ffffff;
}
.info-contacts_email:hover {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.info-contacts_email:active {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
.portfolio {
  padding-top: 105px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
.portfolio-title {
  margin-bottom: 61px;
}
.portfolio-filter {
  display: flex;
  margin-bottom: 49px;
}
.portfolio-filter_button {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
  border: none;
  background-color: unset;
  padding: 0;
  margin-right: 80px;
}
.portfolio-filter_button:last-child {
  margin-right: 0;
}
.portfolio-filter_button:hover,
.portfolio-filter_button:active {
  color: #ed574f;
}
.control-active {
  color: #000;
}
.portfolio-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.project-card {
  width: 360px;
  margin-bottom: 64px;
}
.project-card_big {
  width: 555px;
}
.project-card_img {
  display: block;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.project-card_img::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 219, 77, 0.85);
  transform: translateY(105%);
  transition: 0.3s;
}
.project-card_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #ea736d;
  line-height: 52px;
  padding: 0 30px;
  border-radius: 26px;
  border: 3px solid #fff;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
}
.project-card_button:hover {
  color: #fff;
  background-color: #ea736d;
  border-color: #ea736d;
  transition: 0.5s;
}
.project-card_button:active {
  background-color: #d4423b;
  border-color: #d4423b;
}
.project-card_img:hover::before {
  transform: translateY(0%);
  transition: 0.3s;
}
.project-card_img:hover .project-card_button {
  opacity: 1;
  transition: 0.5s;
}
.project-card_link {
  border-bottom: 1px solid rgba(237, 87, 79, 0);
}
.project-card_link:hover {
  color: #ed574f;
  border-bottom-color: #ed574f;
}
.project-card_title {
  margin-bottom: 13px;
}
.project-card_desc {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
.project-card_big .title-4 {
  font-size: 32px;
}
.project-card_big .project-card_desc {
  font-size: 22px;
}
.timeline {
  padding-top: 137px;
  padding-bottom: 85px;
  background-image: url("../img/timeline/line.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center;
}
.timeline-title {
  text-align: center;
  margin-bottom: 155px;
}
.timeline-container {
  max-width: 1005px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.timeline-item {
  position: relative;
  display: flex;
  width: 540px;
  padding-bottom: 64px;
  margin-bottom: 20px;
  text-align: left;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  align-self: flex-start;
  flex-direction: row-reverse;
  text-align: right;
}
.timeline-item:nth-child(odd) .timeline-item-desc {
  padding-left: 0;
  padding-right: 45px;
}
.timeline-item:nth-child(odd)::before {
  right: 35px;
  left: auto;
}
.timeline-item:last-child::before {
  width: 0;
}
.timeline-item::before {
  content: "";
  position: absolute;
  width: 4px;
  left: 35px;
  top: 94px;
  bottom: 0;
  background-color: #e1eef4;
}
.timeline-item:first-child::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 57px;
  right: 35px;
  top: -77px;
  background-color: #e1eef4;
}
.timeline-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.timeline-item-desc {
  padding-left: 45px;
  padding-top: 21px;
  cursor: pointer;
}
.timeline-item-desc:hover .timeline-item-desc_title .title_underline::after {
  background-color: #ea736d;
  transition: 0.5s;
}
.timeline-item-desc_title {
  font-weight: 800;
  margin-bottom: 11px;
}
.title_underline {
  position: relative;
  z-index: 2;
}
.title_underline::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 7px;
  background-color: #fbdc4d;
  bottom: 5px;
  left: -5px;
  right: -5px;
  transition: 0.5s;
}
.timeline-item-desc_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 13px;
}
.timeline-item-desc_time {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
.contacts {
  padding-top: 136px;
  padding-bottom: 150px;
  background-image: url("../img/contacts/line.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
.contacts-title {
  text-align: center;
  margin-bottom: 67px;
}
.contacts-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
}
.contacts-wrapper::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 450px;
  height: 280px;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% + 98px));
  background-image: url("../img/contacts/quote.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}
.contacts-info {
  width: 510px;
  padding-top: 22px;
}
.contacts-form {
  width: 510px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 62px;
  padding-right: 62px;
  background-color: #fff;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.contacts-info_text {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
}
.contacts-info-wrapper {
  margin-bottom: 35px;
}
.contacts-info-item {
  display: flex;
  margin-bottom: 28px;
}
.contacts-info-item_name {
  width: 195px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.contacts-info-item_value {
  font-size: 20px;
  font-weight: 500;
  color: #96969d;
  line-height: 1.2;
}
.contacts-info-item_value a {
  color: #039be5;
  border-bottom: 1px solid rgba(3, 154, 229, 0);
}
.contacts-info-item_value a:hover {
  border-bottom-color: #039be5;
}
.contacts-form_item {
  position: relative;
}
.contacts-form_item .form-field_email {
  margin-bottom: 53px;
}
.contacts-form_item .form-field_theme {
  margin-bottom: 45px;
}
.contacts-form_item textarea {
  margin-bottom: 35px;
}
.form-field {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.form-field:hover,
.form-field:active {
  border-bottom-color: #ed574f;
}
textarea.form-field {
  resize: none;
  line-height: 1.7;
}
.contacts-form_button input {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.contacts-form_button input:hover {
  transition: 0.3s;
}
.fake-placeholder {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #bcbcbc;
  top: 13px;
  left: 0;
  pointer-events: none;
  transition: 0.3s;
}
.fake-placeholder.active {
  font-size: 16px;
  color: #ed9626;
  top: -13px;
  left: 0;
  transition: 0.3s;
}
.footer {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: #333333;
}
.footer_copyright {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
}
.footer_text {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.625;
}
.footer_text_link {
  border-bottom: 1px solid #b0b0b0;
}
.footer_text_link:hover,
.footer_text_link:active {
  color: #fff;
  border-bottom-color: #fff;
}
/*# sourceMappingURL=main.css.map */