* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
}
*::selection {
  background-color: #fbdc4d;
}
a,
a:hover {
  text-decoration: none;
  transition: 0.5s;
}
a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 420px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1140px;
  }
}
.none {
  display: none;
}
.none-scroll {
  overflow: hidden;
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
  }
}
.underline {
  position: relative;
  z-index: 2;
}
.underline::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 12px;
  background-color: #fbdc4d;
  bottom: 8px;
  left: -5px;
  right: -5px;
}
@media (min-width: 768px) {
  .underline::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .underline::after {
    bottom: 15px;
  }
}
.button-link {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  padding: 0 40px;
  border-radius: 30px;
}
.button-link_yellow {
  line-height: 64px;
  background-color: #fbdc4d;
}
.button-link_yellow:hover {
  background-color: #ffd200;
}
.button-link_yellow:active {
  background-color: #e1bc10;
}
.button-link_white {
  line-height: 56px;
  color: #464646;
  border: 4px solid #464646;
}
.button-link_white:hover {
  color: #797979;
  border: 4px solid #797979;
}
.button-link_white:active {
  color: #181818;
  border: 4px solid #181818;
}
.button-link_wrapper {
  display: flex;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#overlay.active {
  display: block;
}
.header-nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 35px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .header-nav {
    padding-left: 30px;
    padding-right: 50px;
    margin-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    padding: 0 20px;
    margin-bottom: 156px;
  }
}
@media (min-width: 1440px) {
  .header-nav {
    padding: 0;
  }
}
.nav_logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  transition: 1.3s;
}
.nav_logo:hover {
  transform: rotateY(360deg);
  transition: 1.3s;
}
.nav_logo::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 10px;
  background-color: #fbdc4d;
  bottom: 1px;
  left: -5px;
  right: -5px;
}
.nav_list .nav_logo {
  margin-bottom: 38px;
}
.nav_list {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 0;
  width: 100%;
  max-width: 320px;
  transform: translateX(100%);
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .nav_list {
    position: relative;
    max-width: unset;
    width: auto;
    display: block;
    padding: 0;
    background-color: transparent;
    transform: translateX(0);
  }
}
.nav_list.active {
  transform: translateX(0);
  overflow-y: auto;
}
.nav_list.active .nav_logo,
.nav_list.active .nav_list_icons-email {
  display: block;
}
.nav_list-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 31px;
}
@media (min-width: 1200px) {
  .nav_list-link-wrapper {
    display: block;
    margin-bottom: 0;
  }
}
.nav_list-link {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  margin-bottom: 27px;
}
.nav_list-link:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .nav_list-link {
    margin-bottom: 0;
    margin-right: 75px;
    outline: none;
    border: 3px dotted transparent;
  }
  .nav_list-link:last-child {
    margin-right: 0;
  }
  .nav_list-link:focus {
    border-color: #ea736d;
  }
}
.nav_list-link::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 0px;
  width: 0;
  background-color: #fbdc4d;
  bottom: 3px;
  left: -5px;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .nav_list-link::after {
    height: 6px;
  }
}
.nav_list-link:hover::after,
.nav_list-link:active::after,
.nav_list-link_active::after {
  width: 110%;
}
.nav_list-link:hover,
.nav_list-link:active {
  border-color: transparent;
}
.nav_icons {
  display: none;
}
@media (min-width: 1200px) {
  .nav_icons {
    font-size: 30px;
    display: flex;
  }
}
.nav_icons-link {
  margin-right: 20px;
}
.nav_icons-link:last-child {
  margin-right: 0;
}
.nav_icons-link_linkedin:hover,
.nav_icons-link_linkedin:active {
  color: #0077b5;
}
.nav_icons-link_github:hover,
.nav_icons-link_github:active {
  color: #6cc644;
}
.nav_icons-link_vk:hover,
.nav_icons-link_vk:active {
  color: #45668e;
}
.toggle-menu {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 7;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #000;
  position: relative;
}
.toggle-menu span::before,
.toggle-menu span::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  left: 0;
  background-color: #000;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active {
  z-index: 15;
  transform: translateX(10px);
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  transform: rotate(45deg);
  top: 0;
}
.toggle-menu.active span::after {
  transform: rotate(-45deg);
  bottom: 0;
}
@media (min-width: 768px) {
  .toggle-menu.active {
    transform: translateX(25px);
  }
}
.nav_list_icons {
  display: flex;
  font-size: 50px;
  margin-bottom: 22px;
}
.nav_list_icons-item {
  margin-right: 20px;
}
.nav_list_icons-item:last-child {
  margin-right: 0;
}
.nav_list_icons-item:hover {
  opacity: 0.6;
}
.nav_list_email {
  font-size: 18px;
  color: #039be5;
  border-bottom: 1px solid #039be5;
  transition: 0.25s;
}
.nav_list_email:hover,
.nav_list_email:active {
  border-color: transparent;
  transition: 0.25s;
}
.nav_list.active .nav_list-link,
.nav_list.active .nav_list-link:hover {
  transition: 0.25s;
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 100px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 68px;
    padding-bottom: 240px;
    background-image: url("../img/header/line.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
  }
}
.header-info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.info-desc {
  width: 100%;
}
@media (min-width: 768px) {
  .info-desc {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .info-desc {
    width: 50%;
  }
}
.info-photo {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 50px;
  max-width: 330px;
}
@media (min-width: 768px) {
  .info-photo {
    width: calc(50% - 15px);
    padding: 0 25px;
    margin-bottom: 0;
    max-width: unset;
  }
}
@media (min-width: 1200px) {
  .info-photo {
    width: 50%;
    padding: 0;
    max-width: 460px;
  }
}
.info-desc_title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .info-desc_title {
    font-size: 52px;
    margin-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .info-desc_title {
    font-size: 90px;
    margin-bottom: 15px;
  }
}
.info-desc_fi {
  position: relative;
  z-index: 2;
}
.info-desc_fi::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 12px;
  background-color: #fbdc4d;
  bottom: 8px;
  left: -5px;
  right: -5px;
}
@media (min-width: 768px) {
  .info-desc_fi::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .info-desc_fi::after {
    bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .info-desc_text {
    margin-bottom: 35px;
  }
}
.info-desc_text_p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.667;
  color: #393f47;
  text-shadow: 0px 3px 42.32px #ffffff;
}
@media (min-width: 1200px) {
  .info-desc_text_p {
    font-size: 24px;
    line-height: 1.5;
  }
}
.button-link_wrapper {
  display: none;
}
@media (min-width: 1200px) {
  .button-link_wrapper {
    display: block;
  }
}
.info-desc_intro {
  margin-right: 25px;
}
.info-photo::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  left: 30%;
  top: 30%;
  background-image: linear-gradient(180deg, rgba(244, 248, 249, 0), #f4f8f9);
  opacity: 0.5;
  display: none;
}
@media (min-width: 768px) {
  .info-photo::after {
    display: block;
  }
}
.header-image {
  margin-top: 32px;
  margin-bottom: 80px;
  transform: scale(1.78);
}
@media (min-width: 470px) {
  .header-image {
    margin-top: 12px;
    transform: scale(1.54);
  }
}
@media (min-width: 620px) {
  .header-image {
    margin-top: -8px;
    transform: scale(1.27);
  }
}
@media (min-width: 768px) {
  .header-image {
    margin-top: -29px;
    transform: scale(1);
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .header-image {
    margin-top: -130px;
    margin-bottom: 0;
  }
  .header-image .image-line {
    display: block;
  }
  .header-image .image {
    display: none;
  }
}
.header-info-2 {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header-info-2 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header-info-2 {
    padding-top: 70px;
    margin-top: -85px;
  }
}
.skills {
  width: 100%;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .skills {
    width: calc(50% - 15px);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .skills {
    width: 50%;
  }
}
.info-contacts {
  width: 100%;
}
@media (min-width: 768px) {
  .info-contacts {
    width: calc(50% - 15px);
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  .info-contacts {
    width: 50%;
    max-width: 360px;
  }
}
.skills_title {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .skills_title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .skills_title {
    margin-bottom: 37px;
  }
}
.skills_list {
  font-size: 18px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
@media (min-width: 1200px) {
  .skills_list {
    font-size: 24px;
    white-space: nowrap;
    margin-bottom: 43px;
  }
}
.skills_list-item {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.skills_list-item:last-child {
  margin-bottom: 0;
}
.skills_list-item::first-letter {
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .skills_list-item {
    padding-left: 30px;
    margin-bottom: 10px;
  }
  .skills_list-item::first-letter {
    text-transform: none;
  }
}
.skills_list-item::after {
  position: absolute;
  z-index: -1;
  width: 24px;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #000;
}
@media (min-width: 1200px) {
  .skills_list-item::after {
    content: "";
  }
}
.skills_works {
  display: none;
}
@media (min-width: 1200px) {
  .skills_works {
    display: inline-block;
  }
}
.info-contacts_title {
  margin-bottom: 11px;
}
@media (min-width: 1200px) {
  .info-contacts_title {
    margin-bottom: 26px;
  }
}
.icons {
  display: flex;
  font-size: 50px;
}
.header .icons {
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .header .icons {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .header .icons {
    margin-bottom: 16px;
  }
}
.icons-item {
  margin-right: 30px;
}
.icons-item:last-child {
  margin-right: 0;
}
.icons-item:hover {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .icons-item {
    margin-right: 32px;
  }
}
.fa-stack {
  font-size: 0.5em;
  width: 2em;
  vertical-align: -15%;
}
.color-github {
  color: #212121;
}
.color-telegram {
  color: #039be5;
}
.color-vk {
  color: #4d76a1;
}
.color-facebook {
  color: #3b5998;
}
.email {
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid #000;
  text-shadow: 0px 3px 42.32px #ffffff;
}
.email:hover {
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
.email:active {
  color: #ea655f;
  border-bottom: 1px solid #ea655f;
}
@media (min-width: 768px) {
  .email {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .email {
    font-size: 24px;
  }
}
.portfolio {
  padding-top: 51px;
  padding-bottom: 95px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 72px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 105px;
    padding-bottom: 60px;
  }
}
.portfolio-title {
  margin-bottom: 46px;
  padding-left: calc((100% - 290px) / 2);
}
@media (min-width: 530px) {
  .portfolio-title {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .portfolio-title {
    margin-bottom: 40px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    margin-bottom: 42px;
  }
}
.portfolio-filter {
  display: flex;
  margin-bottom: 49px;
}
.portfolio-filter_button {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
  border: none;
  background-color: unset;
  padding: 0;
  margin-right: 80px;
}
.portfolio-filter_button:last-child {
  margin-right: 0;
}
.portfolio-filter_button:hover,
.portfolio-filter_button:active {
  color: #ed574f;
}
.control-active {
  color: #000;
}
.portfolio-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -5px;
}
@media (min-width: 768px) {
  .portfolio-projects {
    justify-content: space-between;
    margin-bottom: -8px;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects {
    margin-bottom: 0;
  }
}
.project-card {
  width: 290px;
  margin-bottom: 45px;
}
@media (min-width: 530px) {
  .project-card {
    width: 390px;
  }
}
@media (min-width: 768px) {
  .project-card {
    width: 338px;
    margin-bottom: 44px;
  }
}
@media (min-width: 820px) {
  .project-card {
    width: 365px;
  }
}
@media (min-width: 1200px) {
  .project-card {
    width: 555px;
    margin-bottom: 64px;
  }
}
.project-card_img {
  display: block;
  height: 200px;
  margin-bottom: 21px;
  position: relative;
  overflow: hidden;
}
.project-card_img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 530px) {
  .project-card_img {
    height: 269px;
  }
}
@media (min-width: 768px) {
  .project-card_img {
    height: 240px;
    margin-bottom: 20px;
  }
}
@media (min-width: 820px) {
  .project-card_img {
    height: 260px;
  }
}
@media (min-width: 1200px) {
  .project-card_img {
    height: 370px;
    margin-bottom: 25px;
  }
}
.project-card_img::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 219, 77, 0.85);
  transform: translateY(105%);
  transition: 0.3s;
}
.project-card_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #ea736d;
  line-height: 52px;
  padding: 0 30px;
  border-radius: 26px;
  border: 3px solid #fff;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .project-card_button {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card_button {
    font-size: 22px;
  }
}
.project-card_button:hover {
  color: #fff;
  background-color: #ea736d;
  border-color: #ea736d;
  transition: 0.5s;
}
.project-card_button:active {
  background-color: #d4423b;
  border-color: #d4423b;
}
.project-card_img:hover::before {
  transform: translateY(0%);
  transition: 0.3s;
}
.project-card_img:hover .project-card_button {
  opacity: 1;
  transition: 0.5s;
}
.project-card_link {
  border-bottom: 1px solid rgba(237, 87, 79, 0);
}
.project-card_link:hover {
  color: #ed574f;
  border-bottom-color: #ed574f;
}
.project-card_title {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .project-card_title {
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .project-card_title {
    margin-bottom: 13px;
  }
}
.project-card_desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .project-card_desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card_desc {
    font-size: 22px;
  }
}
.portfolio_all-projects {
  padding-left: calc((100% - 290px) / 2);
}
@media (min-width: 530px) {
  .portfolio_all-projects {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .portfolio_all-projects {
    display: none;
  }
}
.portfolio_all-projects_link {
  font-size: 20px;
  color: #039be5;
  text-shadow: 0px 3px 42.32px #ffffff;
  border-bottom: 1px solid #039be5;
  text-align: center;
}
.portfolio_all-projects_link:hover {
  border-bottom-color: transparent;
}
.timeline {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .timeline {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .timeline {
    padding-top: 137px;
    padding-bottom: 85px;
    background-image: url("../img/timeline/line.jpg");
    background-repeat: repeat-y;
    background-size: auto;
    background-position: center;
  }
}
.timeline-title {
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .timeline-title {
    font-size: 52px;
    margin-bottom: 160px;
  }
}
@media (min-width: 1200px) {
  .timeline-title {
    font-size: 64px;
    margin-bottom: 155px;
  }
}
.timeline .underline::after {
  bottom: 6px;
}
@media (min-width: 768px) {
  .timeline .underline::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .timeline .underline::after {
    bottom: 15px;
  }
}
@media (min-width: 768px) {
  .timeline-container {
    max-width: 706px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .timeline-container {
    max-width: 1005px;
  }
}
.timeline-item {
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 49px;
  margin-bottom: 20px;
  text-align: left;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:last-child::before {
  width: 0;
}
@media (min-width: 768px) {
  .timeline-item {
    width: 390px;
    padding-bottom: 50px;
  }
  .timeline-item:nth-child(odd) {
    align-self: flex-start;
    flex-direction: row-reverse;
    text-align: right;
  }
  .timeline-item:nth-child(odd) .timeline-item-desc {
    padding-left: 0;
    padding-right: 30px;
  }
  .timeline-item:nth-child(odd)::before {
    right: 35px;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .timeline-item {
    width: 540px;
    padding-bottom: 64px;
  }
  .timeline-item:nth-child(odd) .timeline-item-desc {
    padding-right: 45px;
  }
}
.timeline-item::before {
  content: "";
  position: absolute;
  width: 4px;
  left: 35px;
  top: 94px;
  bottom: 0;
  background-color: #e1eef4;
}
.timeline-item:first-child::after {
  position: absolute;
  width: 4px;
  height: 57px;
  right: 35px;
  top: -77px;
  background-color: #e1eef4;
}
@media (min-width: 768px) {
  .timeline-item:first-child::after {
    content: "";
  }
}
.timeline-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.timeline-item-desc {
  padding-left: 25px;
  padding-top: 4px;
  cursor: pointer;
}
.timeline-item-desc:hover .timeline-item-desc_title {
  color: #ed574f;
  transition: 0.5s;
}
.timeline-item-desc:hover .timeline-item-desc_title .title_underline::after {
  background-color: #ea736d;
}
@media (min-width: 768px) {
  .timeline-item-desc {
    padding-left: 30px;
    padding-top: 21px;
  }
}
@media (min-width: 1200px) {
  .timeline-item-desc {
    padding-left: 45px;
  }
  .timeline-item-desc:hover .timeline-item-desc_title {
    color: #000;
  }
}
.timeline-item-desc_title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 8px;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .timeline-item-desc_title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .timeline-item-desc_title {
    font-size: 26px;
    margin-bottom: 11px;
  }
}
.title_underline {
  position: relative;
  z-index: 2;
}
.title_underline::after {
  position: absolute;
  z-index: -1;
  height: 7px;
  background-color: #fbdc4d;
  bottom: 5px;
  left: -5px;
  right: -5px;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .title_underline::after {
    content: "";
  }
}
.timeline-item-desc_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .timeline-item-desc_text {
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .timeline-item-desc_text {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 13px;
  }
}
.timeline-item-desc_time {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .timeline-item-desc_time {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .timeline-item-desc_time {
    font-size: 18px;
  }
}
.contacts {
  padding-top: 136px;
  padding-bottom: 150px;
  background-image: url("../img/contacts/line.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
.contacts-title {
  text-align: center;
  margin-bottom: 67px;
}
.contacts-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
}
.contacts-wrapper::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 450px;
  height: 280px;
  top: 0;
  left: 0;
  transform: translateX(calc(-100% + 98px));
  background-image: url("../img/contacts/quote.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}
.contacts-info {
  width: 510px;
  padding-top: 22px;
}
.contacts-form {
  width: 510px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 62px;
  padding-right: 62px;
  background-color: #fff;
  box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.contacts-info_text {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
}
.contacts-info-wrapper {
  margin-bottom: 35px;
}
.contacts-info-item {
  display: flex;
  margin-bottom: 28px;
}
.contacts-info-item_name {
  width: 195px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.contacts-info-item_value {
  font-size: 20px;
  font-weight: 500;
  color: #96969d;
  line-height: 1.2;
}
.contacts-info-item_value a {
  color: #039be5;
  border-bottom: 1px solid rgba(3, 154, 229, 0);
}
.contacts-info-item_value a:hover {
  border-bottom-color: #039be5;
}
.contacts-form_item {
  position: relative;
}
.contacts-form_item .form-field_email {
  margin-bottom: 53px;
}
.contacts-form_item .form-field_theme {
  margin-bottom: 45px;
}
.contacts-form_item textarea {
  margin-bottom: 40px;
}
.form-field {
  width: 100%;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.form-field:hover,
.form-field:active,
.form-field:focus {
  border-bottom-color: #ed574f;
}
textarea.form-field {
  resize: none;
  line-height: 1.7;
}
.contacts-form_button input {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.contacts-form_button input:hover {
  transition: 0.3s;
}
.fake-placeholder {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #bcbcbc;
  top: 13px;
  left: 0;
  pointer-events: none;
  transition: 0.3s;
}
.fake-placeholder.active {
  font-size: 16px;
  color: #ed9626;
  top: -13px;
  left: 0;
  transition: 0.3s;
}
.footer {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: #333333;
}
.footer_copyright {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
}
.footer_text {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.625;
}
.footer_text_link {
  border-bottom: 1px solid #b0b0b0;
}
.footer_text_link:hover,
.footer_text_link:active {
  color: #fff;
  border-bottom-color: #fff;
}
/*# sourceMappingURL=main.css.map */