.footer {
    padding-top: 25px;
    padding-bottom: 35px; 
    background-color: #333333;
}

.footer_copyright {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
}

.footer_text {
    font-size: 16px;
    color: #b0b0b0;
    line-height: 1.625;
}

.footer_text_link {
    border-bottom: 1px solid #b0b0b0;

    &:hover, &:active {
        color: #fff;
        border-bottom-color: #fff;
    }
}