.header-nav {
    max-width: 1400px; 
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 152px;
    
    // Медиа запрос для десктопов от 1200px
    @media (min-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    // Медиа запрос для десктопов от 1440px
    @media (min-width: 1440px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.nav_logo {
    position: relative;
    z-index: 2;

    font-size: 42px;
    font-weight: 900;
    line-height: 1.2;

    transition: unset;

    &:hover {
        transform: rotateY(360deg); // rotateY(-90deg);
        transition: 1.5s; //cubic-bezier(1, 0, 0, 1);
    }
}

.nav_logo::after {
    position: absolute;
    z-index: -1;

    content: "";
    height: 10px;

    background-color: #fbdc4d;
    bottom: 5px;
    left: -5px;
    right: -5px;
}

.nav_list {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    li {
        margin-right: 75px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav_list-link {
    position: relative;
    z-index: 2;

    &:focus {
        outline-offset: -3px;
        outline: 3px dotted #ea736d;
        transition: unset;
        // border: 3px dotted #ea736d;
        // outline: none;
    }
}

.nav_list-link::after {
    position: absolute;
    z-index: -1;

    content: "";
    height: 6px;
    width: 0;

    background-color: #fbdc4d;
    bottom: 3px;
    left: 0;

    transition: 0.5s;
}

.nav_list-link:hover::after, .nav_list-link:active::after, .nav_list-link_active::after {
    width: 100%;
}

.nav_icons {
    display: flex;

    font-size: 30px;
}

.nav_icons-item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.nav_icons-link_linkedin {
    &:hover, &:active {
        color: #0077b5;
    }
}

.nav_icons-link_github {
    &:hover, &:active {
        color: #6cc644;
    }
}

.nav_icons-link_vk {
    &:hover, &:active {
        color: #45668e;
    }
}