.timeline {
    padding-top: 55px;
    padding-bottom: 60px; 

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        padding-top: 137px;
        padding-bottom: 85px;

        background-image: url("../img/timeline/line.jpg");
        background-repeat: repeat-y;
        background-size: auto;
        background-position: center;
    }
}

.timeline-title {
    font-size: 36px;
    text-align: center;
    white-space: nowrap;

    margin-bottom: 50px;

    // Медиа запрос для планшетов
     @media (min-width: 768px) {
        font-size: 52px;
        margin-bottom: 160px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        font-size: 64px;
        margin-bottom: 155px;
    }
}

.timeline .underline::after {
    bottom: 6px;

    @media (min-width: 768px) {
        bottom: 12px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        bottom: 15px;
    }
}

.timeline-container {

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        max-width: 706px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        max-width: 1005px;
    }
}

.timeline-item {
    position: relative;

    display: flex;

    width: 100%;
    padding-bottom: 49px;
    margin-bottom: 20px;

    text-align: left;

    &:last-child {
        margin-bottom: 0;
    }

    &:last-child::before {  // убираем последнюю полоску
        width: 0;
    }

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        width: 390px;
        padding-bottom: 50px;

        &:nth-child(odd) {
            align-self: flex-start;
            flex-direction: row-reverse;
            text-align: right;

            .timeline-item-desc {
                padding-left: 0;
                padding-right: 30px;
            }
        }

        &:nth-child(odd)::before {
            right: 35px;
            left: auto;
        }
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        width: 540px;
        padding-bottom: 64px;

        &:nth-child(odd) {
            .timeline-item-desc {
                padding-right: 45px;
            }
        }
    }
}

.timeline-item::before {
    content: "";
    position: absolute;

    width: 4px;

    left: 35px;
    top: 94px;
    bottom: 0;
    background-color: rgb(225, 238, 244);
}

.timeline-item:first-child::after {
    position: absolute;

    width: 4px;
    height: 57px;

    right: 35px;
    top: -77px;
    background-color: rgb(225, 238, 244);

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        content: "";
    }
}

.timeline-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; // чтобы блок не сжимался

    width: 74px;
    height: 74px;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}

.timeline-item-desc {
    padding-left: 25px;
    padding-top: 4px;

    cursor: pointer;

    &:hover {
        .timeline-item-desc_title {

            color: #ed574f;
            transition: 0.5s;

            .title_underline::after {
                background-color: #ea736d;

                // transition: 0.5s;
            }
        }
    }

    // Медиа запрос для планшетов
     @media (min-width: 768px) {
        padding-left: 30px;
        padding-top: 21px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        padding-left: 45px;

        &:hover {
            .timeline-item-desc_title {
                color: #000;
            }
        }
    }
}

.timeline-item-desc_title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;

    margin-bottom: 8px;

    transition: 0.5s;

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 8px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        font-size: 26px;
        margin-bottom: 11px;
    }
}

.title_underline {
    position: relative;
    z-index: 2;
}

.title_underline::after {
    position: absolute;
    z-index: -1;

    // content: "";
    height: 7px;

    background-color: #fbdc4d;
    bottom: 5px;
    left: -5px;
    right: -5px;

    transition: 0.5s;

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        content: "";
    }
}

.timeline-item-desc_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    margin-bottom: 7px;

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 1.375;
        margin-bottom: 10px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 13px;
    }
}

.timeline-item-desc_time {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
        font-size: 18px;
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
        font-size: 18px;
    }
}